.sectionone__right--text,
.sectiontwo__left--text,
.sectionthree__right--text,
.sectionfour__left--text {
  font-family: Lexend Deca;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: right;
}
.flex {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: 40px 0px;
  gap: 25px;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.commontitle {
  font-family: Lexend Deca;
  font-size: 48px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: 0em;
  text-align: right;
}

.section {
  background-color: rgb(231, 230, 231);
  display: grid;
  margin-top: 200px;
  border-radius: 20px;
}
.text-8 {
  color: #000;
  text-align: center;
  font-family: "Lexend Deca";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px; /* 133.333% */
}
.text-9 {
  color: #000;
  font-family: "Lexend Deca";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 133.333% */
  width: 746px;
  height: 100px;
  flex-shrink: 0;
  margin-top: 0%;
  margin-left: 40px;

  margin-bottom: 0%;
}
