.border {
  border-radius: 16px;
  border: 8px dashed #1260d5;
  width: 1248px;
  height: 520px;
  flex-shrink: 0;
  margin-top: 250px;
  margin-bottom: 250px;
}
.center {
  display: flex;
  justify-content: center;
}
.text-1 {
  color: #000;
  text-align: center;
  font-family: "Lexend Deca";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px; /* 66.667% */
}
.in {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.text-2 {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: "Lexend Deca";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.img1 {
  width: 120px;
  height: 120px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.d1 {
  border-radius: 16px;
  background: #1260d5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 155px;
  height: 60px;
  flex-shrink: 0;
  margin-top: 25px;
}
.text-3 {
  color: #fff;
  text-align: center;
  font-family: "Lexend Deca";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.text-4 {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-family: "Lexend Deca";
  font-size: 16px;
  margin-top: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
